<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Main section start -->
        <div class="main-section">

            <div class="jumbotron">
              <h1 class="display-4">Espiritu</h1>
              <p class="lead">Pide hielo </p>
            </div>

        </div>
        <!-- Main section end -->

    </body>
</html>
