{% from 'field-macro.html' import displayField %}
{% extends 'layout.html' %}

{% block body %}
  <h1>Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="{{ url_for('register') }}", method="POST">

    {{ displayField(form.name, 'Nombre', autocomplete="on", autofocus=true)}}
    {{ displayField(form.email, 'Email', autocomplete="on", autofocus=true)}}
    {{ displayField(form.username, 'Usuario', autocomplete="off", autofocus=true) }}
    {{ displayField(form.password, 'Contrasena') }}
    {{ displayField(form.confirm, 'Confirmar contrasena') }}
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning">
            </div>
            {{ form.csrf_token }}
  </form>

{% endblock %}
